{% load static %}

<link rel="stylesheet" href="{% static 'css/estilo_ponto.css' %}">
    <h1>Ponto</h1>
<div class="ponto">

    <form action="{% url 'ponto' %}" method="post">{% csrf_token %}


    <input type="text" id="nome_usuario" name="login_ponto" value='{{ nome_completo }}' readonly>
<br>
    <button onclick="baterPonto()">Bater Ponto</button>

<div id="location"></div>

</form>
    {% if login_ponto %}
    teste
    <div id="clock"></div>
    {% else %}
    teste21
    <div id="clock"></div>

    {% endif %}


    <script type="text/javascript">
        var nome_usuario = "{{ nome_completo }}"; // Atribui o valor da variável de template tetste


    </script>
    <script src="{% static 'javascript/ponto.js' %}"></script> 


</div>

