{% load static %}

<link rel="stylesheet" href="{% static 'css/estilo_ponto.css' %}">
    <h1>Ponto</h1>
        <div id="clock"></div>
    <div id="mensagem"></div>
<div class="ponto">    

<br>
    <form action="{% url 'ponto' %}" method="post">{% csrf_token %}


<br>

    <button onclick="baterPonto()">Bater Ponto</button>


</form>


    <script type="text/javascript">
        var nome_usuario = "{{ nome_completo }}"; // Atribui o valor da variável de template tetste


    </script>
    <script src="{% static 'javascript/ponto.js' %}"></script> 


</div>

